<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Covid Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="ion-no-padding">
    <ion-label position="floating" class="ion-padding-start">Filter By Country</ion-label>
    <ion-input  class="ion-padding-start" type="text" [(ngModel)]="fliteredCountry"></ion-input>
  </ion-item>
  <div class="ion-padding">
    <ion-item [routerLink]="[country.ISO2]" class="ion-no-padding" *ngFor="let country of countriesList | filter : fliteredCountry" >
      <ion-label> {{country.Country}}</ion-label>
      <ion-note slot="end">{{country.ISO2}}</ion-note>
    </ion-item>
  </div>
</ion-content>
